---
layout: splash

title: “Kaikki päiväsi kohoavat...”

excerpt: "Ajatuksia ja huomioita ympäröivästä maailmasta ja vähän kauempaa."
header:
  overlay_image: /assets/images/header.jpg
  overlay_filter: 0.3 # same as adding an opacity of 0.5 to a black background
  caption: "**Szent István-bazilika / Pyhän Tapanin kirkko**"
intro:
    - excerpt: '*“Ihmiselle kaikkein tärkein maailmassa on dägä.“* – M.A. Numminen'
feature_row:
    - image_path: /assets/images/etu1.png
      title: "Blog"
      excerpt: "Ajatuksiani ja mietteitäni löytyy blogin puolelta."
      url: "/blog/"
      btn_label: "Lukemaan tästä"
      btn_class: "btn--primary"
    - image_path: /assets/images/etu2.jpg
      image_caption: "Kuva: [Moyan Brenn](https://commons.wikimedia.org/wiki/File:Old_books_(6365104687).jpg)"
      title: "Arkisto"
      excerpt: "Blogikirjoituksien arkisto."
      url: "/arkisto/"
      btn_label: "Penkomaan tästä"
      btn_class: "btn--primary"
    - image_path: /assets/images/etu3.jpg
      image_caption: "Kuva: [Miss Irina](https://commons.wikimedia.org/wiki/File:IBM_Correcting_Selectric_III_Typewriter.jpg)"
      title: "Kirjoitukset"
      excerpt: "Jos haluat tutustua muualla julkaistuihin kirjoituksiini."
      url: "/kirjoitukset/"
      btn_label: "Kurkkaamaan tästä"
      btn_class: "btn--primary"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
